<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3">
          <%= link_to root_path, :class => 'logo' do %>
            <div class="circle">
              <br />
              COLLEGE
              <br />
              DROPOUTS
              <br />
              UNITE!
            </div>
          <% end %>
        </div>
        <div class="col-sm-5 hidden-xs slogan">
          <p>When did you decide that you were going to drop out of college?</p>
        </div>
        <div class="col-xs-9 col-sm-4 links">
          <%= link_to 'Contribute', '#', :data => {:toggle => 'modal', :target => '#myModal'} %>
          <%= link_to 'About', about_path %>
        </div>
      </div>
    </div>
  </header>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4>Contribute Your Quote</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for Quote.new do |f| %>
          <%= f.input :saying, :label => 'What is the quote you want to contribute?', :placeholder => 'When I realized I\'d rather be rich and free than rich and enslaved.' %>
            <%= f.input :author, :label => 'Who said it?', :placeholder => 'Bill Gates' %>
            <br>
            
          
        </div>
        <div class="modal-footer">
          <button class="btn-default btn" data-dismiss="modal">Close</button>
          <%= f.submit 'Add Quote', :class => 'btn btn-danger' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <br class="clear">

  <div class="container-fluid">
    <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 footer-blurb">
          <p class="text-muted">This silly web app was made by <a href="http://john-ellison.com">John Ellison</a></p>
        </div>
        <div class="col-xs-12 col-sm-6 footer-load">
          <%= link_to root_path, :class => 'next-quote' do %>
           <button class="btn btn-lg btn-danger">Load Another Quote</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
